In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

import csv
import os

In [16]:
CountyLevelDF = pd.read_csv(os.path.join("resources","HistoricalData","CountyLevelSummary.csv"))
CountyLevelDF = CountyLevelDF.drop(["Unnamed: 0"], axis=1)
CountyLevelDF = CountyLevelDF[["Year","County","Avg.Median Home price","Interest_Rate"]]

BayAreaDF = pd.read_csv(os.path.join("resources","HistoricalData","BayAreaSummary.csv"))
BayAreaDF = BayAreaDF.drop(["Unnamed: 0"], axis=1)
BayAreaDF = BayAreaDF[["Year","Avg.Median Home price","Interest_Rate"]]
BayAreaDF["County"] = "Bay Area"
BayAreaDF

frames = [CountyLevelDF,BayAreaDF]
combinedDf = pd.concat(frames)
combinedDf[]

# Change MedianHomePrice as  needed.
medianHomePrice = 1610000

# Assuming 20% down paymnet - Does not change
#downpayment = 20

loanAmount = medianHomePrice - ((medianHomePrice* 0.2)

# Assuming that today's 30 year fixed interest rates into future - Does not change
interest = 4.93

monthlyMortgagePayment = np.round((np.pmt(interest/1200,360,loanAmount))*(-1))

#Assuming 1% property taxes
propertyTaxes  = np.round(medianHomePrice*0.01)/12

#Assuming 0.38 percent insurance payment
insurancePayment = np.round(medianHomePrice * 0.0038)/12

# Total Monthly housing cost

totalMonthyHousingCost = monthlyMortgagePayment +propertyTaxes+insurancePayment

#minimum monthly salary you need to afford to own a home at the meadian price level
minimumMonthlyIncome = np.round(totalMonthyHousingCost/0.3)

#minimum annual salary you need to afford to own a home at the meadian price level
minimumAnnualIncome = minimumMonthlyIncome*12

C:\Users\indra\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  if sys.path[0] == '':

     Avg.Median Home price        County  Interest_Rate  Year
0                   229890       Alameda           9.34  1991
1                   223200       Alameda           8.11  1992
2                   217370       Alameda           7.13  1993
3                   210010       Alameda           7.49  1994
4                   207880       Alameda           7.85  1995
5                   215490       Alameda           7.74  1996
6                   230800       Alameda           7.68  1997
7                   256770       Alameda           7.10  1998
8                   289200       Alameda           7.25  1999
9                   371850       Alameda           7.96  2000
10                  399520       Alameda           7.03  2001
11                  447290       Alameda           6.51  2002
12                  477220       Alameda           5.73  2003
13                  580360       Alameda           5.74  2004
14                  661420       Alameda           5.90  2005
15                  667410       Alameda           6.60  2006
16                  678130       Alameda           6.49  2007
17                  475860       Alameda           6.14  2008
18                  381400       Alameda           5.14  2009
19                  436433       Alameda           4.91  2010
20                  398460       Alameda           4.68  2011
21                  433750       Alameda           3.77  2012
22                  577960       Alameda           3.98  2013
23                  657170       Alameda           4.28  2014
24                  726000       Alameda           4.03  2015
25                  780000       Alameda           3.83  2016
26                  222898  Contra Costa           9.34  1991
27                  220363  Contra Costa           8.11  1992
28                  214086  Contra Costa           7.13  1993
29                  209680  Contra Costa           7.49  1994
..                     ...           ...            ...   ...
231                 442840        Sonoma           3.98  2013
232                 490590        Sonoma           4.28  2014
233                 529750        Sonoma           4.03  2015
234                 580000        Sonoma           3.83  2016
0                   234197      Bay Area           9.34  1991
1                   233964      Bay Area           8.11  1992
2                   232320      Bay Area           7.13  1993
3                   238903      Bay Area           7.49  1994
4                   239315      Bay Area           7.85  1995
5                   247183      Bay Area           7.74  1996
6                   268918      Bay Area           7.68  1997
7                   300666      Bay Area           7.10  1998
8                   346852      Bay Area           7.25  1999
9                   433890      Bay Area           7.96  2000
10                  459898      Bay Area           7.03  2001
11                  492415      Bay Area           6.51  2002
12                  533347      Bay Area           5.73  2003
13                  622158      Bay Area           5.74  2004
14                  685463      Bay Area           5.90  2005
15                  705118      Bay Area           6.60  2006
16                  737634      Bay Area           6.49  2007
17                  514364      Bay Area           6.14  2008
18                  392988      Bay Area           5.14  2009
19                  449088      Bay Area           4.91  2010
20                  414028      Bay Area           4.68  2011
21                  464912      Bay Area           3.77  2012
22                  607240      Bay Area           3.98  2013
23                  677001      Bay Area           4.28  2014
24                  730536      Bay Area           4.03  2015
25                  784812      Bay Area           3.83  2016

[261 rows x 4 columns]