In [147]:
# Dependencies
import numpy as np
import pandas as pd

import csv
import os

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine, MetaData

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [148]:
#Data common to macro level - Bay Area and Micro level - Counties.

#InterestRates - Data goes back to 1963 
InterestRatesDf =  pd.read_csv(os.path.join("resources","HistoricalData","FHFB_Historical_InterestRates.csv"))

#InterestRatesDf["Year"] = InterestRatesDf["Year"].apply(np.round)
#InterestRatesDf.Year.astype(float).round().astype(int)
InterestRatesDf = InterestRatesDf[["Year","Effective_Rate"]]
InterestRatesDf = InterestRatesDf.dropna()
InterestRatesDf["Year"] = InterestRatesDf.Year.astype(float).round().astype(int)
InterestRatesDf

    Year  Effective_Rate
0   1963            6.00
1   1964            5.95
2   1965            5.92
3   1966            6.37
4   1967            6.50
5   1968            7.02
6   1969            7.82
7   1970            8.38
8   1971            7.69
9   1972            7.53
10  1973            7.97
11  1974            8.96
12  1975            9.13
13  1976            9.07
14  1977            9.02
15  1978            9.59
16  1979           10.85
17  1980           12.84
18  1981           14.91
19  1982           15.31
20  1983           12.73
21  1984           12.48
22  1985           11.64
23  1986           10.18
24  1987            9.30
25  1988            9.30
26  1989           10.13
27  1990           10.05
28  1991            9.34
29  1992            8.11
30  1993            7.13
31  1994            7.49
32  1995            7.85
33  1996            7.74
34  1997            7.68
35  1998            7.10
36  1999            7.25
37  2000            7.96
38  2001            7.03
39  2002            6.51
40  2003            5.73
41  2004            5.74
42  2005            5.90
43  2006            6.60
44  2007            6.49
45  2008            6.14
46  2009            5.14
47  2010            4.91
48  2011            4.68
49  2012            3.77
50  2013            3.98
51  2014            4.28
52  2015            4.03
53  2016            3.83
54  2017            4.07
55  2018            4.46

In [149]:
#County level data

##HousingAffordabilityIndex: Percent of population that can afford to buy a home priced at the median price level 
##- goes back to 1991
########Data for Napa and Solana counties is avaliable only from 2010.

HousingAffordavilityIndexMonthlyDf = pd.read_csv(os.path.join("resources","HistoricalData","Historical_Housing_Affordability_BayAreaCounties.csv"))

HousingAffordavilityIndexMonthlyAlmedaDf = HousingAffordavilityIndexMonthlyDf[["Month/QTR","Alameda","Year"]]
HousingAffordavilityIndexMonthlyAlmedaDf = HousingAffordavilityIndexMonthlyAlmedaDf.dropna()
HousingAffordavilityIndexMonthlyAlmedaDf["Year"] = HousingAffordavilityIndexMonthlyAlmedaDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlyContraCostaDf = HousingAffordavilityIndexMonthlyDf[["Month/QTR","Contra Costa","Year"]]
HousingAffordavilityIndexMonthlyContraCostaDf = HousingAffordavilityIndexMonthlyContraCostaDf.dropna()
HousingAffordavilityIndexMonthlyContraCostaDf["Year"] = HousingAffordavilityIndexMonthlyContraCostaDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlyMarinDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Marin","Year"]]
HousingAffordavilityIndexMonthlyMarinDf = HousingAffordavilityIndexMonthlyMarinDf.dropna()
HousingAffordavilityIndexMonthlyMarinDf["Year"] = HousingAffordavilityIndexMonthlyMarinDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlyNapaDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Napa","Year"]]
HousingAffordavilityIndexMonthlyNapaDf = HousingAffordavilityIndexMonthlyNapaDf.dropna()
HousingAffordavilityIndexMonthlyNapaDf["Year"] = HousingAffordavilityIndexMonthlyNapaDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySanFranciscoDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","San Francisco","Year"]]
HousingAffordavilityIndexMonthlySanFranciscoDf = HousingAffordavilityIndexMonthlySanFranciscoDf.dropna()
HousingAffordavilityIndexMonthlySanFranciscoDf["Year"] = HousingAffordavilityIndexMonthlySanFranciscoDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySanMateoDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","San Mateo","Year"]]
HousingAffordavilityIndexMonthlySanMateoDf = HousingAffordavilityIndexMonthlySanMateoDf.dropna()
HousingAffordavilityIndexMonthlySanMateoDf["Year"] = HousingAffordavilityIndexMonthlySanMateoDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySantaClaraDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Santa Clara","Year"]]
HousingAffordavilityIndexMonthlySantaClaraDf = HousingAffordavilityIndexMonthlySantaClaraDf.dropna()
HousingAffordavilityIndexMonthlySantaClaraDf["Year"] = HousingAffordavilityIndexMonthlySantaClaraDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySolanoDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Solano","Year"]]
HousingAffordavilityIndexMonthlySolanoDf = HousingAffordavilityIndexMonthlySolanoDf.dropna()
HousingAffordavilityIndexMonthlySolanoDf["Year"] = HousingAffordavilityIndexMonthlySolanoDf.Year.astype(float).round().astype(int)

HousingAffordavilityIndexMonthlySonomaDf=HousingAffordavilityIndexMonthlyDf[["Month/QTR","Sonoma","Year"]]
HousingAffordavilityIndexMonthlySonomaDf = HousingAffordavilityIndexMonthlySonomaDf.dropna()
HousingAffordavilityIndexMonthlySonomaDf["Year"] = HousingAffordavilityIndexMonthlySonomaDf.Year.astype(float).round().astype(int)


HousingAffordavilityIndexMonthlyBayAreaDf= HousingAffordavilityIndexMonthlyDf[["Month/QTR","BayAreaAvg","Year"]]
HousingAffordavilityIndexMonthlyBayAreaDf = HousingAffordavilityIndexMonthlyBayAreaDf.dropna()
HousingAffordavilityIndexMonthlyBayAreaDf["Year"] = HousingAffordavilityIndexMonthlyBayAreaDf.Year.astype(float).round().astype(int)


# Population data goes back to 1960
PopulationCountyDf = pd.read_csv(os.path.join("resources","HistoricalData","Population_by_county.csv"))
PopulationCountyDf = PopulationCountyDf[["County","Year","Population"]]

PopulationAlmedaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Alameda County"]
PopulationContraCostaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Contra Costa County"]
PopulationMarinDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Marin County"]
PopulationNapaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Napa County"]
PopulationSanFranciscoDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="San Francisco County"]
PopulationSanMateoDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="San Mateo County"]
PopulationSantaClaraDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Santa Clara County"]
PopulationSolanoDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Solano County"]
PopulationSonomaaDf = PopulationCountyDf.loc[PopulationCountyDf["County"] =="Sonoma County"]

#Housing Growrth - Number of new units added per year. Data goes back to 1990
HousingGrowthCountyDf = pd.read_csv(os.path.join("resources","HistoricalData","Housing_Production_by_county.csv"))
HousingGrowthCountyDf = HousingGrowthCountyDf[["County","Year","Total Annual Production"]]

HousingGrowthAlmedaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Alameda County"]
HousingGrowthContraCostaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Contra Costa County"]
HousingGrowthMarinDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Marin County"]
HousingGrowthNapaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Napa County"]
HousingGrowthSanFranciscoDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="San Francisco County"]
HousingGrowthSanMateoDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="San Mateo County"]
HousingGrowthSantaClaraDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Santa Clara County"]
HousingGrowthSolanoDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Solano County"]
HousingGrowthSonomaDf = HousingGrowthCountyDf.loc[HousingGrowthCountyDf["County"] =="Sonoma County"]

#Median Housing Price

#Median prices of existing homes. Data goesback to 1990 . This might be a better measure of home prices (trends)
MedianHomePricesExistingDf = pd.read_csv(os.path.join("resources","HistoricalData","Annual_Home_Prices_by_county.csv"))

MedianHomePricesExistingDf

MedianHomePricesAlamedaDf = MedianHomePricesExistingDf[["Year", "Alameda"]]
MedianHomePricesContraCostaDf = MedianHomePricesExistingDf[["Year", "Contra Costa"]]
MedianHomePricesMarinDf = MedianHomePricesExistingDf[["Year", "Marin"]]
MedianHomePricesNapaDf = MedianHomePricesExistingDf[["Year", "Napa"]]
MedianHomePricesSanFranciscoDf = MedianHomePricesExistingDf[["Year", "San Francisco"]]
MedianHomePricesSanMateoDf = MedianHomePricesExistingDf[["Year", "San Mateo"]]
MedianHomePricesSantaClaraDf = MedianHomePricesExistingDf[["Year", "Santa Clara"]]
MedianHomePricesSolanoDf = MedianHomePricesExistingDf[["Year", "Solano"]]
MedianHomePricesSonomaDf = MedianHomePricesExistingDf[["Year", "Sonoma"]]

#Wage data
WagesDf = pd.read_csv(os.path.join("resources","HistoricalData","WageData_by_county.csv"))
WagesDf = WagesDf.rename(columns = {"Area": "County"})


WagesAlmedaDf = WagesDf.loc[WagesDf["County"] =="Alameda County, California"]
WagesContraCostaDf = WagesDf.loc[WagesDf["County"] =="Contra Costa County, California"]
WagesMarinDf = WagesDf.loc[WagesDf["County"] =="Marin County, California"]
WagesNapaDf = WagesDf.loc[WagesDf["County"] =="Napa County, California"]
WagesSanFranciscoDf = WagesDf.loc[WagesDf["County"] =="San Francisco County, California"]
WagesSanMateoDf = WagesDf.loc[WagesDf["County"] =="San Mateo County, California"]
WagesSantaClaraDf = WagesDf.loc[WagesDf["County"] =="Santa Clara County, California"]
WagesSolanoDf = WagesDf.loc[WagesDf["County"] =="Solano County, California"]
WagesSonomaDf = WagesDf.loc[WagesDf["County"] =="Sonoma County, California"]

In [158]:
#BayArea level data

# Read the data and cleaning it up

# Population data goes back to 1960
PopulationDf = pd.read_csv(os.path.join("resources","HistoricalData","Population_Bay_Area.csv"))

#Housing Production - Number of new units added per year. Data goes back to 1990
HousingGrowthDf = pd.read_csv(os.path.join("resources","HistoricalData","Housing_Production_Bay_Area.csv"))

#Median home prices. Data goes back to 1997. Stops at 2015. MedPrice_IA indicates median price adjusted for Inflation. 
MedianHomePricesDf = pd.read_csv(os.path.join("resources","HistoricalData","Home_Prices_Bay_Area.csv"))

#Median prices of existing homes. Data goesback to 1990 . This might be a better measure of home prices (trends)
MedianHomePricesExistingDf = pd.read_csv(os.path.join("resources","HistoricalData","MedianPricesofExistingDetachedHomesHistoricalData.csv"))

MedianHomePricesExistingAnnualDf = MedianHomePricesExistingDf.groupby(['Year']).agg({'S.F. Bay Area':['mean']})
MedianHomePricesExistingAnnualDf.reset_index(inplace = True)
MedianHomePricesExistingAnnualDf.columns=[''.join(col) for col in MedianHomePricesExistingAnnualDf.columns]

MedianHomePricesExistingAnnualDf["S.F. Bay Areamean"] = MedianHomePricesExistingAnnualDf["S.F. Bay Areamean"].astype(float).round().astype(int)
MedianHomePricesExistingAnnualDf= MedianHomePricesExistingAnnualDf.rename(columns = {"S.F. Bay Areamean":"Avg.Median Home price"})
#pd.DataFrame(MedianHomePricesExistingAnnualDf.to_records())
MedianHomePricesExistingAnnualDf 

#HousingAffordabilityIndex: Percent of population that can afford to buy a home priced at the median price level - goes back to 1991
HousingAffordavilityIndexDf = pd.read_csv(os.path.join("resources","HistoricalData","Historical_Housing_Affordability_BayAreaCounties.csv"))
HAIExistingAnnualDf = HousingAffordavilityIndexDf.groupby(['Year']).agg({'BayAreaAvg':['mean']})
HAIExistingAnnualDf.reset_index(inplace = True)
HAIExistingAnnualDf.columns=[''.join(col) for col in HAIExistingAnnualDf.columns]


#Rents 1970, 1980, 1990, 2000, 2006 to 2015
RentTrendsDf =  pd.read_csv(os.path.join("resources","HistoricalData","Rents_Bay_Area.csv"))

# Average Annual Wages, number of employers, number of employees -
# Data goes back to 1990
WagesGrpDf = WagesDf.groupby(['Year']).agg({'Num_Employers':['sum'],'Num_Employees':['sum'],'AvgAnnualPay' : ['mean']})

WagesGrpDf.reset_index(inplace = True)
WagesGrpDf.columns=[''.join(col) for col in WagesGrpDf.columns]
WagesBayAreaDf =WagesGrpDf.rename(columns ={'Num_Employerssum': "Employers", 'Num_Employeessum': "Employees", 'AvgAnnualPaymean' : "AvgAnnualPay"})
WagesBayAreaDf

    Year  Employers  Employees  AvgAnnualPay
0   1990     160814    3029207  26827.111111
1   1991     184128    2942366  28240.444444
2   1992     195298    2887645  30080.888889
3   1993     202087    2879500  30708.555556
4   1994     199363    2900397  31565.111111
5   1995     214307    2964060  32787.777778
6   1996     211511    3078411  34109.444444
7   1997     205387    3182397  36455.222222
8   1998     225328    3303428  38529.555556
9   1999     230764    3391396  41957.000000
10  2000     220469    3545274  48065.666667
11  2001     223967    3484810  47599.111111
12  2002     229892    3312546  47053.888889
13  2003     233673    3213125  48564.000000
14  2004     235152    3191936  51268.444444
15  2005     233767    3213983  53536.555556
16  2006     243762    3275561  55934.888889
17  2007     244618    3323630  58833.666667
18  2008     261389    3339608  59286.777778
19  2009     262732    3149813  59635.111111
20  2010     265160    3113584  61176.888889
21  2011     273678    3165974  63325.222222
22  2012     267868    3284023  67361.888889
23  2013     271084    3405221  68285.333333
24  2014     280626    3525908  70528.555556
25  2015     289007    3666533  73802.555556
26  2016     296323    3778951  76366.555556
27  2017     303451    3863923  80447.111111

In [151]:

# Hypothesis : 

# The housing growth rate is not keeping up with the population growth rate and hence the increase in the median housing prices.

In [152]:
# To do :

# Create a time series chart for housing growth, population growth and median housing prices.